* {
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
	max-height: 600px;
}

#login-div {
	margin-top: 20%;
}

h1 {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-transform: uppercase;
}

#login-username {
	width: 20%;
	font-weight: bold;
	font-size: 16px;
	height: 23px;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	color: #fff;
	background: transparent;
}

#login-password {
	width: 20%;
	font-weight: bold;
	font-size: 16px;
	height: 23px;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	color: #fff;
	background: transparent;
}

#login {
	width: 24%;
	cursor: pointer;
	font-weight: bold;
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	background: transparent;
	font-size: 16px;
	display: inline-block;
	color: #fff;
}

#login:hover{
	background: #fff;
	color: #333;
}

a {
	text-decoration: none;
}

#forget-password {
	text-align: right;
}